@font-face {
    font-family: Inter Regular;
    src: url(../../assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Jost;
    src: url(../../assets/fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}

.fontroman{
    font-family: 'Times New Roman', Times, serif;
}
.Jost-reg{
font-family: Jost !important;
}
.poppins-reg{
font-family: Poppins !important;
}
@media screen and (max-width:772px) and (min-width: 400px) {
    .hero-bg{
    background-image: url("../../assets/Images/edited for media 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
height: 400px;}
    }
    @media screen and (max-width:400px) and (min-width: 200px) {
        .hero-bg{
        background-image: url("../../assets/Images/edited for media 2.png");
        width: 100%;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;

        }
        
    }